<!DOCTYPE html>
<html lang="en">
<head>

    <title>About PKU</title>
    <link href="/static/css/about.css" rel="stylesheet">
</head>

<body>
{% extends 'base.html' %}

{% block content %}

<!-- Header -->
    <header id="top" class="header">
      <div class="about-pku-wallpaper">
        <div class="text-vertical-left">
            <h2>About PKU</h2>
          <p>Trust fund roof party truffaut PBR&B chia, put a bird on it kombucha man braid live-edge lo-fi pop-up hammock hexagon. Bushwick seitan jianbing, lumbersexual pok pok photo booth cliche next level. Trust fund church-key letterpress, knausgaard ramps sartorial helvetica next level messenger bag selfies pop-up banh mi quinoa. Umami cold-pressed tattooed roof party, kitsch godard selvage authentic kale chips raw denim keytar jean shorts yuccie vaporware. Marfa intelligentsia pickled vaporware cred echo park, crucifix tbh pug mustache beard cold-pressed snackwave activated charcoal. Dreamcatcher poke VHS +1 whatever butcher, kombucha man braid retro banh mi snackwave normcore gentrify sartorial selvage. Echo park drinking vinegar fashion axe, tumeric XOXO viral helvetica actually.</p>
          <p>Chia flexitarian chambray organic green juice. Letterpress mlkshk twee seitan food truck, mustache cronut pour-over cardigan. Taxidermy tilde umami messenger bag XOXO, truffaut aesthetic etsy vape paleo jean shorts waistcoat. Cray salvia plaid authentic yr, XOXO yuccie iceland lomo green juice biodiesel helvetica cold-pressed. Actually single-origin coffee lo-fi dreamcatcher next level, keffiyeh yr. DIY bitters street art, tbh intelligentsia pour-over health goth waistcoat yuccie XOXO banh mi lo-fi letterpress selfies organic. Mlkshk mustache schlitz intelligentsia.</p>
          <p>Freegan retro shoreditch lo-fi literally fap. Drinking vinegar vegan portland heirloom. Affogato XOXO lo-fi church-key everyday carry, skateboard vinyl yuccie craft beer keffiyeh chambray fashion axe try-hard. Craft beer chicharrones meditation cliche. Chia kogi cardigan everyday carry, bushwick synth street art vaporware copper mug 8-bit poke taxidermy photo booth. Semiotics ethical skateboard, dreamcatcher gluten-free enamel pin XOXO. Bespoke gochujang offal etsy, next level sustainable cronut taxidermy tilde occupy.</p>
          <p>VHS la croix paleo typewriter fap, fashion axe stumptown fanny pack man braid meditation. Messenger bag four dollar toast humblebrag man bun coloring book synth. Yuccie 8-bit green juice, franzen tofu tumeric tousled cold-pressed YOLO offal succulents crucifix bushwick. Fixie hella slow-carb hot chicken blog. Echo park readymade fap, tattooed asymmetrical bespoke iPhone roof party cornhole tumeric. Selvage la croix gochujang retro echo park. Pork belly distillery letterpress organic.</p>
          <p>Find our community on social media under the hashtag <span>#planetPKU</span></p>
          </div>
        </div>
    </header>

<!-- Other PKU Resources -->
    <section id="pku-other-resources" class="pku-other-resources">
        <div class="row text-center">
          <div class="col-lg-10">
            <h2>Other PKU Resources</h2>
            <hr class="small">
              <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="pku-resources">
                        <span class="fa-stack fa-4x">
                          <a href="https://pkunews.org/" target="_blank">
                            <i class="fa fa-user fa-stack-2x"></i>
                          </a>
                        </span>
                        <h4>
                          <a href="https://pkunews.org/" target="_blank">
                            <strong>PKUNews.org</strong>
                          </a>
                        </h4>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="pku-resources">
                        <span class="fa-stack fa-4x">
                          <a href="https://npkua.org/" target="_blank">
                            <i class="fa fa-search fa-stack-2x"></i>
                          </a>
                        </span>
                        <h4>
                          <a href="https://npkua.org/" target="_blank">
                            <strong>National PKU Alliance</strong>
                          </a>
                        </h4>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="pku-resources">
                        <span class="fa-stack fa-4x">
                          <a href="https://howmuchphe.org/" target="_blank">
                            <i class="fa fa-picture-o fa-stack-2x"></i>
                          </a>
                        </span>
                        <h4>
                          <a href="https://howmuchphe.org/" target="_blank">
                            <strong>How Much Phe</strong>
                          </a>
                        </h4>
                    </div>
                </div>
              </div><!-- /.row -->
          </div><!-- /.col-lg-10 -->
        </div><!-- /.container -->
    </section>

    <section id="ad-about-pages" class="ad-about-pages">
        <img src="http://via.placeholder.com/600x300">
    </section>


{% endblock %}

</body>
</html>