<!DOCTYPE html>
<html lang="en">
<head>

    <title>Planet PKU</title>
    <link href="/static/css/homepage.css" rel="stylesheet">
</head>

<body>
{% extends 'base.html' %}

{% block content %}

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h2>Welcome to Planet PKU!!</h2>
            <p>Planet PKU is the ultimate PKU social community,<br>
where recipes come to life.  By joining us you will join<br>
a robust PKU foodie community where you can share <br>
your recipes and ideas with thousands of PKU families!<br>
Find our community on social media under the hashtag <strong><em>#planetPKU</em></strong>
</p>
            <br>
            <a href="/mainsite/register.html" class="btn btn-dark btn-lg">Join our community</a>
            <br>
            <div class="note">
                Already a member? <a href="/mainsite/login.html">Click here</a> to sign in.
            </div>
        </div>
    </header>

    <!-- About -->
    <section id="pku-numbers" class="pku-numbers">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <h2><span>Planet PKU in numbers</span></h2>
                    <p class="lead">Placehold text until more of the site is built out</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

{% endblock %}
    <!-- jQuery -->
    <script src="js/jquery.js"></script>


</body>

</html>