<!DOCTYPE html>
<html lang="en">
<head>

    <title>Planet PKU</title>
    <link href="/static/css/homepage.css" rel="stylesheet">
</head>

<body>
{% extends 'base.html' %}

{% block content %}

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h2>Welcome to Planet PKU!!</h2>
            <p>Planet PKU is the ultimate PKU social community,<br>
where recipes come to life.  By joining us you will join<br>
a robust PKU foodie community where you can share <br>
your recipes and ideas with thousands of PKU families!<br>
              Find our community on social media under the hashtag <span>#planetPKU</span>
</p>
            <br>
            <a href="/mainsite/register.html" class="btn btn-dark btn-lg">Join our community</a>
            <br>
            <div class="note">
              Already a member? <a href="/mainsite/login.html"><span>Click here</span></a> to sign in.
            </div>
        </div>
    </header>

    <!-- Planet PKU in numbers -->
    <section id="pku-numbers" class="pku-numbers">
        <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Planet PKU in numbers</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-2 col-sm-6 col-md-offset-1">
                            <div class="pku-statistic">
                                <span class="fa-stack fa-4x">
                                  <i class="fa fa-user fa-stack-2x"></i>
                                </span>
                                <h4>
                                    <strong>Members</strong>
                                </h4>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <div class="pku-statistic">
                                <span class="fa-stack fa-4x">
                                  <i class="fa fa-search fa-stack-2x"></i>
                                </span>
                                <h4>
                                  <strong>Recipes</strong>
                                </h4>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <div class="pku-statistic">
                                <span class="fa-stack fa-4x">
                                  <i class="fa fa-picture-o fa-stack-2x"></i>
                                </span>
                                <h4>
                                  <strong>Photos</strong>
                                </h4>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <div class="pku-statistic">
                                <span class="fa-stack fa-4x">
                                  <i class="fa fa-pencil fa-stack-2x"></i>
                                </span>
                                <h4>
                                  <strong>Forum Posts</strong>
                                </h4>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <div class="pku-statistic">
                                <span class="fa-stack fa-4x">
                                  <i class="fa fa-comments fa-stack-2x"></i>
                                </span>
                                <h4>
                                  <strong>Comments</strong>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Main Content -->
    <section id="main-content" class="album main-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="featured-recipe">
              <img src="http://via.placeholder.com/600x430" alt="Featured Recipe" class="img-responsive">
                <p class="card-text">This is a placeholder for the featured recipe that is going to taste so good you'll think you've died and gone to heaven.</p>
            </div>
          </div>
            <div class="col-md-4">
              <div class="featured-member">
                <img src="http://via.placeholder.com/600x430" alt="Featured Member" class="img-responsive">
                <p class="card-text">This is a placeholder for the featured member. They've added a lot to this community by adding a bunch of recipes. Be more like this person please.</p>
              </div>
            </div>
            <div class="col-md-2">
              <div class="featured-misc-column">
                <img src="http://via.placeholder.com/600x430" alt="Misc Column" class="img-responsive">
                <p class="card-text">This is a placeholder for the featured member. They've added a lot to this community by adding a bunch of recipes. Be more like this person please.</p>
              </div>
            </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>



{% endblock %}

</body>
</html>