<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Submit Recipe</title>
  <link href="/static/css/submit_recipe.css" rel="stylesheet">
</head>

<body>
{% extends 'base.html' %}

{% block content %}

<!--Practice row with javascript button to add/remove new lines-->
<div class="container">
	<div class="row">
        <div class="control-group" id="fields">
            <label class="control-label">Nice Multiple Form Fields</label>
            <div class="controls">
                <form role="form" autocomplete="off">
                    <div class="entry input-group col-xs-3">
                        <input class="form-control" name="fields[]" type="text" placeholder="Type something" />
                    	<span class="input-group-btn">
                            <button class="btn btn-success btn-add" type="button">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
                </form>
            <br>
            <small>Press <span class="glyphicon glyphicon-plus gs"></span> to add another form field :)</small>
            </div>
        </div>
	</div>
</div>
<!--End practice js add/remove rows-->

<div class="container">
  <!--Basics section-->
  <h2>Basics</h2>
  <p>All fields are required</p>
  <form id="contact_form" role="form">

    <!-- Recipe Name -->
      <div class="form-group row">
        <label class="col-md-12 control-label">Recipe Name</label>
        <div class="col-md-12 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input name="recipe_name" placeholder="Recipe Name" class="form-control"  type="text" required>
          </div>
        </div>
      </div>

    <div class="row">
      <div id="no-margin">
      <!-- Prep time -->
        <div class="form-inline">
            <label class="col-md-1 control-label">Prep Time</label>
            <div class="col-md-3 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                <input name="prep_time" placeholder="Number of minutes" class="form-control" type="number"
                        required>
              </div>
            </div>
        </div>
        <!-- Cook time -->
        <div class="form-inline">
            <label class="col-md-1 control-label">Cook Time</label>
            <div class="col-md-3 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                <input name="cook_time" placeholder="Number of minutes" class="form-control" type="number" required>
              </div>
            </div>
        </div>
        <!-- Serving size -->
        <div class="form-inline">
            <label class="col-md-1 control-label">Serving Size</label>
            <div class="col-md-3 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                <input name="serving_size" placeholder="Number of people" class="form-control" type="number" required>
              </div>
            </div>
        </div>
      </div>
    </div>
    <br>

    <div class="row">
      <!-- Difficulty -->
        <div class="form-inline">
            <label class="col-md-1 control-label">Select Difficulty</label>
            <div class="col-md-5 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
              <select name="difficulty" class="form-control selectpicker" >
                <option value=" " >Select the level of difficulty</option>
                <option>Easy</option>
                <option>Moderate</option>
                <option>Difficult</option>
              </select>
              </div>
            </div>
        </div>
      <!-- Meal Course (primary) -->
        <div class="form-inline">
            <label class="col-md-1 control-label">Select Meal Course</label>
            <div class="col-md-5 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
              <select name="meal_course" class="form-control selectpicker" >
                <option value=" " >Select the primary meal this is eaten at</option>
                <option>Snack</option>
                <option>Appetizer</option>
                <option>Breakfast</option>
                <option>Lunch</option>
                <option>Dinner</option>
                <option>Dessert</option>
                <!--<option>Other</option>-->
              </select>
              </div>
            </div>
        </div>
    </div>


  <!-- Phe Amount !-->
  <h2>Phe Amount</h2>
    <div class="form-inline row">
        <label class="col-md-12 control-label">Exact amount of Phe (in grams). See <a href="https://howmuchphe.org/" target="_blank"><strong>How Much Phe Website</strong></a> for assistance: </label>
        <div class="col-md-2 inputGroupContainer">
          <!--<div class="input-group">-->
            <!--<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>-->
            <input name="phe_amount" placeholder="Phe (grams)" class="form-control"  type="number" required>
          </div>
        <!--</div>-->
      </div>


  <!-- Categories section !-->
  <h2>Recipe Categories</h2>
    <div class="form-group">
      <label class="control-label">Check any that apply</label>
      <div class="checkbox">
        <label>
        <input type="checkbox" name="recipe_category" value="appetizer">
        Appetizer
        </label>
      </div>
      <div class="checkbox">
        <label>
        <input type="checkbox" name="recipe_category" value="side_dish">
        Side dish
        </label>
      </div>
      <div class="checkbox">
        <label>
        <input type="checkbox" name="recipe_category" value="beverage">
        Beverage
        </label>
      </div>
      <div class="checkbox">
        <label>
        <input type="checkbox" name="recipe_category" value="freezes_well">
        Freezes well
        </label>
      </div>
    </div>

    <!--TODO: Change from 200 CHARACTERS to 200 word limit-->
  <!--Description-->
  <h2>Description</h2>
  <p>Provide a short description of this recipe</p>
    <div class="row">
      <div class="form-group">
        <label class="col-md-4 control-label">Recipe Description</label>
          <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                  <textarea class="form-control" name="recipe_description"
                            placeholder="200 character limit"></textarea>
            </div>
          </div>
      </div>
    </div>

<!--Practice with js green buttons-->
<div class="container">
	<div class="row">
        <div class="control-group" id="fields">
            <label class="control-label">PRACTICE MULTIPLE FORM FIELDS</label>
            <div class="controls">
              <div class="entry input-group col-xs-3">
                  <input class="form-control" name="fields[]" type="text" placeholder="Type something" />
                <span class="input-group-btn">
                  <button class="btn btn-success btn-add" type="button">
                      <span class="glyphicon glyphicon-plus"></span>
                  </button>
                </span>
              </div>
            <br>
            <small>Press <span class="glyphicon glyphicon-plus gs"></span> to add another form field :)</small>
            </div>
        </div>
	</div>
</div>
<!--End practice block-->

  <!--Instructions-->
  <h2>Instructions</h2>
   <div class="container">
      <div class="row">
        <div class="no-left-padding">
          <div class="col-sm-10">
            <input name="instructions" placeholder="List instruction here" class="form-control">
          </div>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-success btn-add" type="button">-</button>
          </div>
      </div>
    </div>

  <!--Ingredients-->
  <h2>Ingredients</h2>
    <div class="container">
      <div class="row">
        <div class="no-left-padding">
          <div class="col-sm-5">
            <input name="ingredient_name" placeholder="Ingredient" class="form-control">
          </div>
          <div class="col-sm-2">
            <input name="ingredient_quantity" placeholder="Quantity" class="form-control"  type="number">
          </div>
          <div class="col-sm-3">
            <select name="ingredient_unit" class="form-control selectpicker" >
              <option value="ingredient_unit" disabled selected>Select unit of measurement</option>
              <option>teaspoon</option>
              <option>tablespoon</option>
              <option>cup</option>
              <option>quart</option>
              <option>gallon</option>
              <option>ounces</option>
              <option>pounds</option>
            </select>
          </div>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-success btn-add" type="button">-</button>
          </div>
      </div>
      <span class="input-group-btn">
          <button class="btn btn-success btn-add" type="button">Add another ingredient</button>
      </span>
    </div>

  <!--Nutritional Elements-->
  <h2>Nutritional Elements</h2>
    <div class="container">
      <div class="row">
        <div class="no-left-padding">
          <div class="col-sm-5">
            <input name="nutritional_element" placeholder="Nutritional element" class="form-control">
          </div>
          <div class="col-sm-2">
            <input name="ingredient_quantity" placeholder="quantity" class="form-control"  type="number">
          </div>
          <div class="col-sm-3">
            <select name="ingredient_unit" class="form-control selectpicker" >
              <option value="ingredient_unit" disabled selected>Select nutritional unit</option>
              <option>calories</option>
              <option>fat</option>
              <option>fiber</option>
              <option>phe</option>
              <option>protein</option>
              <option>sodium</option>
              <option>salt</option>
            </select>
          </div>
          <div class="col-sm-2">
            <button class="btn btn-success btn-add" type="button">-</button>
          </div>
        </div>

      </div>
      <span class="input-group-btn">
          <button class="btn btn-success btn-add" type="button">Add another nutritional element</button>
      </span>
    </div>


  <!--Image Upload-->
  <h2>Image of meal</h2>
  <p>Include an image of your recipe.</p>
  <p>Image requirements:</p>
    <ul>
      <li>Format: png, jpeg, gif</li>
      <li>Size: Less than 1 MB</li>
      <li>Width and/or Height: Bigger than 100px but less than 1000px</li>
    </ul>
    <label class="control-label">Select File</label>
      <input id="input-image" name="input_image[]" type="file" multiple class="file-loading">

    <br><br><br>


    <!-- Success message -->
      <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thank you for adding this recipe!</div>

      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4">
          <button type="submit" class="btn btn-warning" >Submit Recipe
            <span class="glyphicon glyphicon-send"></span></button>
        </div>
      </div>
  <br><br><br>

  </form>
</div>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js"></script>
<script src="/static/js/submit_recipe.js"></script>

{% endblock %}
</body>
</html>