/* General */
#pku-other-resources a:hover, #pku-other-resources a:focus, #pku-other-resources a:visited{
	text-decoration: none;
	color:#008C00;
}

/* Header */

.header {
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.text-vertical-left {
    display: table-cell;
    vertical-align: middle;
    color: white;
}

.text-vertical-left h2 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 200;
}

.text-vertical-left span{
  color: #008C00;
  font-weight: bold;
  font-style: italic;
}

/* Wallpaper for About PKU page */
.header .about-pku-wallpaper {
    background: url(../images/wallpaper_1.png) no-repeat center center scroll;
}

/* Wallpaper for About Us page */
.header .about-us-wallpaper{
    background: url(../images/wallpaper_2.jpg) no-repeat center center scroll;
}

/* Other PKU Resources */

.pku-other-resources .row {
  margin-right: 0px;
  margin-left: 0px;
}

.pku-resources {
    margin-bottom: 30px;
}

/* Ad at bottom */

#ad-about-pages {
  width: 655px;
  margin: auto;
  padding-bottom: 20px;
}