#success_message {
  display: none;
}

#no-margin{
  margin: 10px 0px;
}

.no-left-padding .col-sm-5 {
  padding-left: 0px;
  padding-bottom: 15px;
}

.no-left-padding .col-sm-10 {
  padding-left: 0px;
  padding-bottom: 15px;
}

/* Button to add more instructions/ingredients/nutritional elements */
.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.glyphicon
{
    font-size: 12px;
}